* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #00FFFF, #Add8e6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  animation: slideDown 0.8s ease;
}

  @keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  background: #5F9EA0;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  background: #5F9EA0;
}

button {
  background: #5F9EA0;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6a11cb;
}

.switch {
  margin-top: 10px;
  font-size: 0.9rem;
}

.switch span {
  color: #2575fc;
  cursor: pointer;
  text-decoration: underline;
}

.switch span:hover {
  color: #6a11cb;
}
